<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for(var i=0; i<horos.length;i++) {%>
    <div>
      <h1><%=signes[horos[i].sign].rus %></h1>
      <p><%=horos[i].text %></p>
      <hr>
    </div>
    <%} %>

  </body>
</html>
